<form class="container" method="post" id="" [formGroup]="form">
    <h3>{{title}}</h3>
    <div *ngIf="alertform" class="alert alert-danger" role="alert">
        {{errorMSG}}
    </div>

    <div class="mb-3">
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" formControlName="email">
        </div>
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert alert-danger" role="alert">
            <div *ngIf="form.controls['email'].errors?.['required']">
                Debe ingresar un email.
            </div>
            <div *ngIf="form.controls['email'].errors?.['email']">
                Debe ingresar un Email válido
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-group">
            <label class="form-label" for="email">Contraseña</label>
            <input type="password" name="email" id="password" class="form-control" formControlName="password">
        </div>
        <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert alert-danger" role="alert">
            <div *ngIf="form.controls['password'].errors?.['required']">
                Debe ingresar su contraseña.
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit" value="" (click)="submitFunc[submit]()" [disabled]="!form.valid || loading">
            <div *ngIf="!loading">
                {{title}}
            </div>
            <div *ngIf="loading" class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </button>
    </div>
</form>
<div class="redirect">
    <button *ngIf="submit == 'login'" (click)="redirect('auth/register')">¿No tienes cuenta? Registrarse</button>
    <button *ngIf="submit == 'register'" (click)="redirect('auth/login')">¿Ya tienes cuenta? Iniciar Sesión</button>
</div>